@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100%;
    background-color: #F3F3F3;
    font-family: Arial,sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #14213D;
}

.shadow-box{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.h1 {
    @apply font-bold text-[2rem] leading-[40px] md:text-[2.6rem] md:leading-[49px]  lg:text-[3.5rem] lg:leading-[64px]
}

.h2 {
    @apply font-bold text-[1.7rem] leading-[35px] md:text-[2rem] md:leading-[40px]  lg:text-[2.775rem] lg:leading-[52px]
}

.h3 {
    @apply font-bold text-[1.3rem] leading-[28px] md:text-[1.8rem] md:leading-[36px]  lg:text-[2rem] lg:leading-[40px]
}

.h4 {
    @apply font-bold text-[1.05rem] leading-[25px] md:text-[1.2rem] md:leading-[27px]  lg:text-[1.2rem] lg:leading-[32px]
}

.p {
    @apply font-normal text-[0.875rem] leading-[22px] md:text-[1rem] md:leading-[24px] lg:text-[1.15rem] lg:leading-[26px]
}

.button-primary{
    @apply bg-primary
}